header{
  width: 100%;
  /* padding: 15px 40px; */
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  box-shadow: 0 3px 5px rgb(202, 201, 201);
  z-index: 1;
  top: 0;
}
.header-nav{
  /* max-width: 1200px; */
  display: flex;
}
.logo{
  display: flex;
  align-items: center;
  padding: 15px;
}
.logo a{
  color: red;
  text-decoration: none;
}
.logo a h1{
  white-space: nowrap;
}
.logo-pic{
  margin-right: -15px;
}
.logo-pic a img{
  width: 100%;
}
.header-nav{
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
input{
  position: absolute;
  opacity: 0;
}
.nav-list ul{
  display: flex;
}
.nav-list ul li{
  margin: 0 10px;
}
.nav-list ul li a{
  font-size: 16px;
  white-space: nowrap;
  text-decoration: none;
  color: #666666;
}
.banner{
  margin-top: 75px;
}

.banner img{
  width: 100%;
}
.section{
  padding: 50px 0;
}
.section:nth-child(odd){
  background-color: #eeeeee;
}
.know-more-title,
.title{
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
  position: relative;
}
.title::after{
  content:"";
  width: 100px;
  height: 3px;
  display: block;
  background-color: red;
  position: absolute;
  bottom: -25px;
  right: 0;
  left: 0;
  margin: auto;
}
.about-item{
  text-align: center;
}
.hot-item{
  border: 1px solid #ccc;
}
.hot-item img{
  width: 100%;
  vertical-align: middle;
}

.more-lesson-bottom{
 width: 200px;
 padding: 20px 0;
 text-align: center;
 margin:50px auto 0;
 border-radius: 10px;
 background-color: red;
}
.more-lesson-bottom a{
  color: white;
  text-decoration: none;
}
.recommand-content{
  margin: auto;
  max-width: 600px;
  justify-content: center;
}
.recommand-pic{
  min-width: 80px;
  margin-right: -15px;
  /* outline: 1px solid red; */
}
.recommand-pic img{
  /* outline: 1px solid red; */
  width: 100%;
  border-radius: 50%;
}
.recommand-txt{
  min-width: 300px;
  /* outline: 1px solid red; */
}
.know-more-content{
  text-align: center;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 25px;
}
.social-link{
  max-width: 1200px;
  margin: auto;
  justify-content: center;
}
.social-link a {
  margin:0 20px;
}
footer{
  padding: 50px 0;
  background-color: #eeeeee;
}
footer .contact li a{
  text-decoration: none;
  color: #666666;
}
.copy-right{
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid #ccc;
  padding: 10px 0 20px;
}


@media screen and (max-width: 992px) {
  .header-nav{
    flex-wrap: wrap;
    position: relative;
  }  
  label{
      width: 71.61px;
      height: 71.61px;
      position: absolute;
      top: 0;
      right: 0;
      /* bottom: 0; */
      margin: auto;
      background-color: #d90845;
    }
    label::after{
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background-color: white;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      box-shadow: 0 10px 0 0 white,
                  0 -10px 0 0 white;
    }
    input:checked ~ .nav-list{
      /* opacity: 1; */
      /* height: 100%; */
      margin-top: 0;
      display: block;
    }
    .nav-list{
      width: 100%;
      margin-top: -100%;
      /* opacity: 0; */
      display: none;
      /* height: 0; */
      border-top: 1px solid #ccc;
      transition:.5s;
    }     
    .nav-list ul{
      flex-direction: column;
      align-items: center;
    }
    .nav-list ul li{
      margin: 20px 0;
    }
    footer .contact{
      margin-bottom: 60px;
    }
    footer .contact li{
      margin: 15px 0;
    }

    footer nav ul{
      margin-bottom: 30px;
    }
    footer nav ul li {
      margin-top: 15px;
    }
}