header{
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  box-shadow: 0 3px 5px rgb(202, 201, 201);
  z-index: 1;
  top: 0;
}
.logo{
  display: flex;
  align-items: center;
}
.logo a{
  color: red;
  text-decoration: none;
}
.log-pic img{
  width: 100%;
}
.header-nav{
  justify-content: space-between;
  align-items: center;
}

.nav-list ul{
  display: flex;
}
.nav-list ul li{
  margin: 0 10px;
}
.nav-list ul li a{
  font-size: 16px;
  text-decoration: none;
  color: #666666;
}








.banner img{
  width: 100%;
}
.section{
  padding: 50px 0;
}
.section:nth-child(even){
  background-color: #eeeeee;
}
.know-more-title,
.title{
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
  position: relative;
}
.title::after{
  content:"";
  width: 100px;
  height: 3px;
  display: block;
  background-color: red;
  position: absolute;
  bottom: -25px;
  right: 0;
  left: 0;
  margin: auto;
}
.about-item{
  text-align: center;
}
.hot-item{
  border: 1px solid #ccc;
}
.hot-item img{
  width: 100%;
  vertical-align: middle;
}

.more-lesson-bottom{
 width: 200px;
 padding: 20px 0;
 text-align: center;
 margin:50px auto 0;
 border-radius: 10px;
  background-color: red;
}
.more-lesson-bottom a{
  color: white;
  text-decoration: none;
}
.recommand-content{
  justify-content: center;
}
.recommand-pic img{
  width: 100%;
  border-radius: 50%;
}
.know-more-content{
  text-align: center;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 25px;
}
.social-link{
  justify-content: center;
}
.social-link a {
  margin:0 20px;
}
footer{
  padding: 50px 0;
  background-color: #eeeeee;
}
.copy-right{
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid #ccc;
  padding: 10px 0 20px;
}