.banner img{
  width: 100%;
}
.section{
  padding: 50px 0;
}
.section:nth-child(even){
  background-color: #eeeeee;
}
.know-more-title,
.title{
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
  position: relative;
}
.title::after{
  content:"";
  width: 100px;
  height: 3px;
  display: block;
  background-color: red;
  position: absolute;
  bottom: -25px;
  right: 0;
  left: 0;
  margin: auto;
}
.about-item{
  text-align: center;
}
.hot-item{
  border: 1px solid #ccc;
}
.hot-item img{
  width: 100%;
}

.more-lesson-bottom{
 width: 200px;
 padding: 20px 0;
 text-align: center;
 margin:50px auto 0;
 border-radius: 10px;
  background-color: red;
}
.more-lesson-bottom a{
  color: white;
  text-decoration: none;
}
.recommand-content{
  justify-content: center;
}
.recommand-pic img{
  width: 100%;
  border-radius: 50%;
}
.know-more-content{
  text-align: center;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 25px;
}
.social-link{
  justify-content: center;
}
.social-link a {
  margin:0 20px;
}